html,body {
    height:100%;
    width:100%;
    margin:0;
}

header {
    position:fixed;
    top:0;
    width:100%;
}

#welcome-section {
    height:100%;
    background-color:gray;
}

@media (max-width:800px) {
    section {
        background-color:black;
        color:white;
    }

}

