html,body {
    height:100%;
    width:100%;
    margin:0;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align:center;
    background-color: #565656;
}


header {
    position:fixed;
    top:0;
    width:100%;
    height:8%;
    background-color:#0E2976;
    display:flex;
    justify-content:space-between;
    align-items:center;
    align-content: center;
    overflow: hidden;
    opacity:0.8;
}

#title {
    padding-left:2rem;
    font-size:1.5rem;
    color:white;
}


.nav-links {
    font-size:1.5rem;
    height:100%;
    padding:1rem;
    background-color: #5656565d;
}

#welcome-section {
    height:100%;
    width:100%;
    background-color:#1b1b1b;
    display:flex;
    align-items:center;
    justify-content: center;
}

h1 {
    margin-top:0;
    font-size:4rem;
    color:white;
}

h2 {
    margin-top:0;
    padding-top:3rem;
    font-size:2.5rem;
    color:white;
}

a {
    color:white;
}


#projects {
    height:80%;
    width:100%;
    background-color: #565656;
}

#project-tiles {
    display:flex;
}

.projectimage {
    width:80%;
    height:auto;
}

.projectlink {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:#1b1b1b;
    padding: 10% 0% 10% 0%;
}

#links {
    height:50%;
    width:100%;
    background-color: #1b1b1b;
    color:white;
    padding: 0% 0% 8% 0%;
}

#linktiles {
    display:flex;
    justify-content:space-evenly;
    padding:3% 15% 3% 15%;
    margin-left:10%;
    margin-right:10%;
    background-color:#5656568a;
    border:1px solid white;
}

.link-tile {
    display: flex;
    flex-direction: column;
    padding:3%;
    background-color: #0E2976;
    border-radius:40px;
    border:1px white solid;
    align-items: center;
    opacity:0.5;
    transition:2s;
}

.link-tile:hover {
    opacity:1;
    transition:1s;
}

.socialimage {
    width:70%;
}

footer {
    background-color: #0E2976;
    border-top-left-radius:40px;
    border-top-right-radius:40px;
    border:1px solid white;
    margin-left: 20%;
    margin-right: 20%;
    height:10%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-top:5%;
    color:white;
    opacity:0.5;
    transition:2s;
}

footer:hover {
    opacity:1;
    transition:1s;
}

@media (max-width:800px) {
    section {
        background-color:#565656;
        color:white;
    }
    #linktiles {
        flex-direction: column;
    }
}

